# Runtime variables
# =================

# The protocol and host where the application will be served.
ORIGIN="http://example.com"

# A secret token to access the root directory and upload files via the web app.
UPLOAD_TOKEN="secret"

# Disable authentication for the root directory and uploading files for test purposes.
# DISABLE_AUTHENTICATION=true


# Build-time variables
# ====================

# The file to store tokens on disk.
TOKENS_FILE=data/tokens.json

# The root directory for uploading files.
ROOT_DIR=data

# Script variables
# ================

# Destination for deploy.sh
DEPLOY_HOST=host
DEPLOY_PATH=path
DEPLOY_PLATFORM=linux/arm64