
body {
	// Allow content to grow to full viewport height including space for the
	// browser UI that scrolls away on mobile devices. Growing further is
	// possible by overflowing body.
	max-height: 100vh;
}

div,
body,
main,
nav,
header,
footer {
	display: flex;
}

span {
	display: inline-flex;
}

div,
body,
main {
	flex-direction: column;
}

a {
	border-radius: var(--border-radius);
}

button,
[role='button'],
a {
	&.standard {
		--color: inherit;
		background: none;
		border-color: transparent;
		&:focus,
		&:hover {
			background-color: var(--primary-focus);
		}
	}
	&.standard.danger {
		&:focus,
		&:hover {
			--color: var(--contrast-inverse);
			background-color: var(--del-color);
		}
	}
	&.icon {
		display: grid;
		width: unset;
		margin: unset;
		padding: calc(var(--spacing) / 2);
	}
}
